@import url('https://fonts.googleapis.com/css?family=Unica+One');

body {
    margin: 0%;
    padding: 0%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}
.header-design {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #41676e;
}
.content {
    margin-left: 200px;

}
.content-design {
    background-color: #c9d1c5;
    min-height: 100vh;
}
ul.main-menu {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Unica One', cursive;
}
ul.main-menu li a {
    padding: 10px;
    text-decoration: none;
    color:  #a2c0b7;
    display: inline-block; 
    font-size: 25px;
}
ul.main-menu li a:hover {
        color:	#83d0c9;
}
ul.main-menu li:not(:last-child)::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.5);
}
.image-holder img {
    width: 100%;
    margin: 0;

}
h1 {
    display: block;
    text-align: center;
    font-family: 'Unica One', cursive;
    font-size: 60px;
    color: #41676e;
    margin: 20px;
    padding: 0;
}
p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Unica One', cursive;
    color: #41676e;
    margin: 25px;
    padding: 0;
}
.column {
    display: flex;
    font-size: 15px;
    font-family: 'Unica One', cursive;
    text-align: right;
    color: #41676e;
    padding: 0;
}
.column > div {
    width: 300px;
    margin: 0 5px;
}
.column > div:nth-child(1) {
    flex: 1; 
}
ul.social-link {
    list-style: none;
    color: #41676e;
    margin: 0;
    padding: 0;
    display: flex;
}
ul.social-link li {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    
}