@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

body {
    margin: 0%;
    padding: 0%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}
.header-design {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #41676e;
}
.content {
    margin-left: 200px;
    height: 10000px;
}
.content-design {
    background-color: #c9d1c5;
    height: 10000px;
}
ul {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
}
li a {
    padding: 10px;
    text-decoration: none;
    color:  #a2c0b7;
    display: inline-block; 
    font-size: 25px;
}
li a:hover {
        color:	#83d0c9;
}
.image-holder img {
    width: 100%;
    margin: 0;

}
h1 {
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    color: #41676e;
    margin: 20px;
    padding: 0;
}
p {
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    color: #41676e;
    margin: 20px;
    padding: 0;
}